extends base


block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="Username", name="username", type="text", required)
        input(placeholder="Password", name="password", type="password", required)
        input(type="submit", value="Login")
        include partials/social-login
    // hr >> scss 줄이 그어지게 만들어줌
    div.auth-switch
        span Don't have an account? 
        a(href="/join") Create one now &rarr;